<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h2>Flight details:</h2>
        <section>
            <h3>Airline: <%= flight.airline %></h3>
            <h3>Airport: <%= flight.airport %></h3>
            <h3>Flight Number: <%= flight.flightNo %></h3>
            <h3>Departure: <%= flight.departs %></h3>
        </section>
            <h2>Add destination(s):</h2>
        <form method="POST" action="/flights/<%= flight.id %>/destinations">
            <label>Destination:</label>
                <select name="airport">
                    <option value="AUS">AUS</option>
                    <option value="DFW" selected>DFW</option>
                    <option value="DEN">DEN</option>
                    <option value="LAX">LAX</option>
                    <option value="SAN">SAN</option>
                </select>
                <input type="datetime-local" name="arrival">
                <button type="submit">Add destination</button>
        </form>
        <% if (flight.destinations.length) { %>
            <h3>Destinations</h3>
            <table>
                <thead>
                    <tr>
                        <th>Airport</th>
                        <th>Arrival</th>
                    </tr>
                </thead>
                <tbody>
                    <% flight.destinations.forEach(flight => { %>
                        <tr>
                            <td><%= flight.airport %></td>
                            <td><%= flight.arrival %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } else { %>
            <h5>No Destinations Entered</h5>
        <% } %>
        <h2>Add ticket(s):</h2>
        <form method="POST" action="/flights/<%= flight._id %>/tickets">
            <label>Seat:</label>
            <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
            <label>Price($):</label>
            <input type="number" min=0 name="price">
            <button type="submit">Add ticket</button>
        </form>
        <% if (flight.tickets.length) { %> 
        <h3>Tickets</h3>    
        <table>
            <thead>
                <tr>
                    <th>Seat</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <% flight.tickets.forEach(ticket => { %>
                    <tr>
                        <td><%= ticket.seat %></td>
                        <td>$<%= ticket.price %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <h5>No tickets entered</h5>
    <% } %>
    </main>
    
</body>
</html>